body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(146, 171, 207);
    background-color: rgb(15, 23, 36);
}

.errors {
    color: rgb(255, 86, 86);
}

.msg {
    color: rgb(68, 139, 68);
}

table, th, td {
    padding: 5px;
    text-align: center;
    border: 1px solid aquamarine;
    border-collapse: collapse;
}

th {
    color: rgb(158, 219, 96);
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sql-schemas {
    height: 95vh;
    width: 35%;
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgb(146, 171, 207);
    margin: 10px;
    border-radius: 15px;
}

iframe {
    height: 100%;
}

.sql-trainer {
    height: 95vh;
    width: 45%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgb(146, 171, 207);
    margin: 10px;
    border-radius: 15px;
}


.sql-tables {
    width: 98%;
    height: 50vh;
    margin: 5px 5px 0px 5px;
    border: 1px solid rgb(146, 171, 207);
    border-radius: 5px;
}

.scroll-wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.scroll-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #464669;
    border-radius: 10px;
  }

.scroll-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, rgb(0, 34, 64));
  }

.sql-editor {
    width: 98%;
    height: 45vh;
    margin: 5px;
    border: 1px solid rgb(146, 171, 207);
    border-radius: 5px;
}

.editor {
    height: 85%;
    border-radius: 10px;
    padding: 5px;
}

#editor {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    border-radius: 5px;
}

.editor-buttons {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    
}

.new-database {
    width: 50%;
    background-color: #4a78bd;
    font-weight: 700;
    border-radius: 10px;
    transition: all 200ms ease;
    cursor: pointer;
    margin: 10px;
    border: 1px solid rgb(146, 171, 207);

}

.new-database:hover {
    background-color: #106abe;
}

.new-database:active {
    transform: scale(0.90);
}

.new-database.loading {
    background-image: repeating-linear-gradient(45deg, #7caadf, #5691d4 10px, #1f5ebd 10px, #0728bb 20px);
    background-position: left 10px top 0;
    background-size: 28px 28px;
    animation: 200ms bg-move linear infinite;
    color: transparent;
    overflow: hidden;
    text-shadow: none;
    cursor: wait;
}

.new-database.loading:active,
.new-database.loading:hover,
.new-database.success:active,
.new-database.success:hover {
transform: none;
}

.new-database.success {
background-color: #2a4858;
cursor: wait;
}

@keyframes bg-move {
from {
    background-position: left 0px top 0px;
}

to {
    background-position: left 28px top 0px;
}
}

.run-button, .delete-button {
    width: 50%;
    border: 1px solid rgb(146, 171, 207);
    border-radius: 10px;
    margin: 10px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.run-button:active, .delete-button:active {
    transform: scale(0.90);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

}

.run-button {
    background-color: rgb(113, 233, 113);
}

.run-button:hover {
    background-color: rgb(0, 201, 0);
}

.delete-button {
    background-color: rgb(247, 108, 108);
}

.delete-button:hover {
    background-color: rgb(253, 57, 57);
}

#responseArea {
    padding: 10px;
    height: 100%;
}